.container {
    display: grid;
    width: 90%;
    justify-items: center;
    margin: auto;
    gap: 10px;
    font-size: 1em;
    padding: 15px 0px;
}

.personalText > p {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container > img {
    border-radius: 5px;
    width: 100%;
}
/* .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 80%;
    margin: auto;
    justify-items: center;
    font-size: 1em;
    font-family: "Roboto";
    padding: 15px;
    gap: 10px;
}
.personalText {
    padding: 15px 10px;
}
.personalText > p {
    text-align:end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1px;
}


.container > img {
    border-radius: 30px;
    width: 100%;
} */

@media (min-width: 576px) { 
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .personalText > p {
        text-align: start;
        padding: 2px 0px;
    }
 }

 @media (min-width: 768px) { 
    .container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: -1;
    }
    .personalText > p {
        text-align: end;
        padding: 2px 0px;
        order: 1;
    }
    .container > img {
        justify-self: start;
        width: 80%;
        order: 2;
    }
 }

 @media (min-width: 1200px) { 
    .container {
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .personalText > p {
        text-align: end;
        padding: 2px 0px;
        order: 1;
    }
    .container > img {
        justify-self: start;
        width: 80%;
        order: 2;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }
 }