.hidden {
    opacity: 0;
    display: none;
}

.visible {
    opacity: 0;
    display: none;
}

#scrollBack {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 4.5em;
    color: #263167;
    border: 1.5px solid #263167;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.1s ease, opacity 0.5s ease-out;
}

#scrollBack:hover {
    background-color: #263167;
    color: white;
    cursor: pointer;
}

#scrollBack:active {
    transform: translateY(5px);
}