.choiceContainer {
    /* display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding: 30px 0px 10px 0px;
    gap: 10px;
    flex-wrap: wrap; */
    display: grid;
    gap: 10px;
    width: 70%;
    margin: 20px auto;
}

.link,
.active {
    text-align: center;
    user-select: none;
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.link:hover {
    cursor: pointer;
    background-color: orange;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    color: white;
    background-color: white;
    color: black;
}
.active {
    background-color: white;
    color: black;
}

.active:hover {
    cursor: default;
    box-shadow: none;
}

@media (min-width: 768px) {
    .choiceContainer {
        display: flex;
        width: 70%;
        margin: 20px auto;
        justify-content: center;
        /* padding: 30px 0px 10px 0px; */
        flex-wrap: wrap;
    }
}
