@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personalIntroduction {
    background: linear-gradient(100deg, #220e3f, #263167);
    text-align: center;
    text-wrap: wrap;
    color: white;
    width: 100%;
    padding: 25px 25px 5px 25px;
}

.personalIntroduction > p {
    font-family: "Bowlby One SC";
    font-weight: 500;
    /* font-size: 1.3em; */
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
}

.specialColor,
p.specialColor {
    color: orange;
}

p.jobPosition {
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-size: 3em;
    line-height: 0.8em;
    color: white;
    position: relative;
    z-index: 1;
    text-wrap: wrap;
}

/* .personalIntroduction {

    text-align: center;
    user-select: none;
    padding: 25px;
    background: linear-gradient(100deg, #220e3f, #263167);
}

.personalIntroduction > p {
    font-family: "Bowlby One SC";
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
}

p.jobPosition {
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-size: 10em;
    line-height: 0.8em;
    color: white;
    position: relative;
    z-index: 1;
}

.specialColor, p.specialColor {
    color: orange;
}

.developer {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
}

 */

@media (min-width: 768px) {
    .name {
        font-size: 1.5em;
    }
    p.jobPosition {
        font-size: 5em;
    }
    .message {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .name {
        font-size: 2em;
    }
    p.jobPosition {
        font-size: 10em;
    }
    .message {
        font-size: 2em;
    }
}
