@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personalIntroduction {
    background: linear-gradient(100deg, #220e3f, #263167);
    text-align: center;
    text-wrap: wrap;
    color: white;
    width: 100%;
    padding: 20px;
}

.personalIntroduction > p {
    font-family: "Bowlby One SC";
    font-weight: 500;
    /* font-size: 1.3em; */

    text-transform: uppercase;
    color: white;
}

.specialColor,
p.specialColor {
    color: orange;
    /* margin-right: 14px; */
}

.name {
    margin-bottom: 5px;
}

.message {
    margin-top: 5px;
}

p.jobPosition {
    user-select: none;
    /* font-family: "Luckiest Guy"; */
    font-weight: 400;
    font-size: 2.5em;
    line-height: 0.9em;
    color: white;
    /* position: relative; */
    z-index: 1;
    text-wrap: wrap;
}


@media (min-width: 768px) {
    .name {
        font-size: 1.5em;
    }
    p.jobPosition {
        font-size: 5em;
    }
    .message {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    .name {
        font-size: 2em;
    }
    p.jobPosition {
        font-size: 7em;
    }
    .message {
        font-size: 1.5em;
    }
}
