@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Info*/
.container {
    /* padding: 2%; */
}

.information {
    position: relative;
    /* font-family: "Roboto", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    /* border-radius: 5px; */
    width: 100%;
    height: 100%;
    padding: 15px;
    border-left: 1px solid #263167;
    text-transform: uppercase;
    text-align: start;
    /* line-break: anywhere; */
}

.information h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1em;
    background-color: #263167;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.information h3 {
    font-family: "Roboto", sans-serif;
    padding: 0px 0.5em;
    text-align: start;
    background-color: #263167;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.projectLinks {
    display: flex;
    gap: 15px;
    padding: 15px 0px;
    /* text-align:start; */
}
.projectLinkIcons {
    /* border: 2px solid white; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #263167;
    border-radius: 10px;
    font-size: 3.5em;
    /* margin: 20px 10px 0px 0px; */
    transition: transform 0.2s ease, box-shadow 0.1s ease;
}



.projectLinkIcons:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.techTag {
    width: 35px;
    margin: 10px 5px;
    user-select: none;
}

.techTagContainer {
    display: block;
    /* position: absolute;
    bottom: 5%;
    left: 3%; */
}

.conta {
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    text-align: center;
}

.box > p {
    display: none;
    font-size: 1em;
    text-align: center;
}

@media (min-width: 1200px) {
    .projectLinkIcons:hover {
        background-color: orange;
        /* border: 2px solid white; */
    }
}

@media (min-width: 2000px) {
    .information {
        height: auto;
    }
}
