* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    width: 100%;
    background-color: white;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

/* #root {
    background-color: red;
} */